body {
  background-color: white;
  text-align: center;
}

/* #shadowy {
  opacity: 0.5;
  background-color:#000; 
  width:100%; 
  height:100%; 
  top:0; 
  left:0; 
  position:fixed;
  z-index: 1;
} (Shadow overlay over entire page to be changed when lighting mode is changed but i'll figure out later )*/

.inputs {
  font-size: x-large;
}

form {
  text-align: center;
  width: 100%;
  z-index: 10;
}

input:focus {
  background-color: lightblue;
}

#title {
  display: flex;
  justify-content: center;
  background-color: rgb(245, 247, 136); 
  width: 100%;
  height: 75px;
  padding: 0px;
}

#Nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 350px;
  background-color: rgb(156, 240, 194);
  z-index: 10;
}

#Profile {
  justify-content: left;
  margin: auto;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
}

#Dash {
  justify-content: center;
  margin: auto;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
}

#Date {
  justify-content: right;
  margin: auto;
  border-color: black;
  border-style: solid;
  padding: 50px;
  border-radius: 10%;
}

img {
  border-radius: 10%;
}